body {
    font-family: 'Poppins', sans-serif;
}


.background-image {
    background-image: url(images/donation9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
    font-weight: 400;
}

.button-item {
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: tomato;
    border-radius: 15px;
    padding: 15px 25px;
}

.frontpage {
    color: white;
    text-align: center;
    padding: 10% 25%;
}

.second-set {
    text-align: center;
    padding: 10% 20%;
    position: relative;
    bottom: -50px;
}

.amount {
    font-size: 40px;
}

#taka-color {
    background-color: bisque;
}

.flex-containner {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;

}

.flex-new {
    font-size: 30px;
    background-color: whitesmoke;
    width: 250px;
    height: 150px;
    margin: 30px;
    text-align: center;
    line-height: 70px;
    border-radius: 10px;
}

.flex-move {
    padding: 0% 15%;
    position: relative;
    top: -140px;
}

.text-button {
    color: black;
    text-align: center;
    position: relative;
    top: -130px;
    width: 100%;
}

.position-btn {
    text-align: justify;
    position: relative;
    bottom: -30px;
}

.third-set {
    text-align: center;
    padding: 5% 25%;
}

.third-width {
    width: 350px;
    height: 350px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    border: 5px;
    border-radius: 10px;
}

#color-sky {
    background-color: rgb(177, 228, 248);
}

#color-pink {
    background-color: rgb(253, 223, 228);
}

#color-tomato {
    background-color: rgb(242, 160, 145);
}

.third-width img {
    height: 50px;
    width: 50px;
}

.get-updates {
    text-align: center;
    padding: 10% 10%;
}

#subscribe-field {
    background-color: pink;
    width: 60%;
    height: 180px;
}

.last-page {
    margin-left: 300px;
    margin-top: 200px;
}

.subscribe-move {
    padding: 9% 10%;
}

.footer-item {
    color: pink;
    background-color: black;
    text-align: center;
}