body {
    font-family: 'Open Sans', sans-serif;
}


.background-image {
    background-image: url(images/donation9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
    font-weight: 400;
}

.button-item {
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: tomato;
    border-radius: 15px;
    padding: 15px 25px;
}

.frontpage {
    color: white;
    text-align: center;
    padding: 10% 25%;
}

.second-set {
    text-align: center;
    padding: 15% 25%;
}

.amount {
    font-size: 40px;
}

.flex-containner {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;

}

.flex-new {
    font-size: 30px;
    background-color: whitesmoke;
    width: 250px;
    height: 150px;
    margin: 30px;
    text-align: center;
    line-height: 70px;
}